version: "3.9"
services:
  backend:
    container_name: sbe-backend
    build: ./backend
    ports:
      - 5001:5001
    volumes:
      - ./backend:/source
    depends_on:
      - database
  database:
    container_name: sbe-database
    image: bitnami/postgresql:latest
    env_file: db.conf
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgresql
  frontend:
    container_name: sbe-frontend
    build: ./frontend
    ports:
      - 8501:8501
    volumes:
      - ./frontend:/source
  camunda:
    container_name: sbe-camunda
    build: ./camunda_engine
    ports:
      - 8080:8080

  redis:
    image: redis:6.2-alpine
    ports:
      - 6379:6379

  celery_worker:
    build:
      context : ./backend
    
    command : celery -A celery_app.celery worker -B -l info 
    depends_on :
      - redis

  # celery_beat:






volumes:
  postgres_data: